@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A8D5BA;
  /*nav*/
  --secondary: #F7E7CE;
  /*card*/
  --accent: #FF6F61;
  /*btn links*/
  --text: #2F4F4F;
  --background: #cbccc7;
  --highlight: #FFC107;
  --border: #c4d1c8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.logo{
  border:2px solid var(--text);
  width: fit-content;
  border-radius: 10px 0px 0px 10px;
  padding: 2px;
  border-right: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100vh;
  padding: 1rem;
}

.shadow-hover:hover {
  scale: 1.2;
  rotate: 30deg;
  text-shadow: 5px 1px var(--background);
}

.recipe-card {
  display: flex;
  width: 100%;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
}

.fav {
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px;
}